* {
	color: #7093b3;
	font-family: "Montserrat";
	font-size: 17px;
}

.feather {
	width: 30px;
	height: 30px;
}

.nav-link a {
	font-weight: bold;
	color: #7093b3;
}

.nav-link a:focus {
	text-decoration: none;
}

.active-bar {
	margin: 5px 0px 0px 0px;
	border-radius: 3px;
	background: #7093b3;
	height: 3px;
	width: 70%;
	position: absolute;
	left: 15%;
}

.post-card {
	margin-top: 50px;
	height: 125px;
	border-radius: 5px;
	box-shadow: 0px 5px 15px 10px #e3e7ea;
}

.card-image {
	display: absolute !important;
	background-size: cover !important;
	background-position: center !important;
	width: 280px !important;
	height: 145px !important;
	border-radius: 15px 15px 0px 5px;
	margin-top: -20px;
}

.card-title {
	color: #7093b3;
	font-weight: bold;
	font-size: 16px;
}

.card-title:focus {
	text-decoration: none;
	color: #7093b3 !important;
	font-weight: bold;
}

.card-footer-side {
	margin-top: 30px;
}

.author {
	font-size: 13px;
	color: #97a8b6;
}

.time-left {
	font-size: 13px;
	color: #97a8b6;
	margin-right: -33px !important;
}

.btn-sidebar {
	background: none;
	border: none;
}

.btn-sidebar:focus {
	outline: none;
}

.btn-navigation {
	background: none;
	border: none;
}

.btn-navigation .feather {
	stroke: white;
}

.btn-navigation:focus {
	outline: none;
}

.account-bg-img {
	background-size: cover !important;
	background-position: center !important;
	height: 250px;
}

.account-content {
	color: #7093b3 !important;
	background: white;
	margin-top: -20px;
	border-radius: 20px 20px 0px 0px;
	height: 80vh;
}

.account-name {
	font-size: 20px !important;
	font-weight: bold;
	color: #7093b3;
}

.btn-subscribe {
	background: #7093b3;
	box-shadow: 0px 13px 20px -10px #7093b3;
	border: none;
	border-radius: 50px;
	color: white;
	padding: 7px 16px 7px 16px;
	transition: 100ms;
}

.btn-subscribe:focus {
	background: #6685a3;
	outline: none;
	transform: scale(1.03);
}

.account-description {
	font-size: 14.5px;
	padding: 0px 20px 10px 20px !important;
}

.text-bold {
	font-weight: bold !important;
}

.text-count {
	font-size: 20px !important;
	font-weight: bold;
}

.shots-wrapper {
	/* height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, 90px);
	grid-gap: 10px; */
}

.shots {
	width: 90px;
	height: 150px;
	background-size: cover !important;
	background-position: center !important;
	border-radius: 10px;
	margin: 5px;
}

@media screen and (max-width: 360px) {
	.card-image {
		width: 150px !important;
	}

	.card-title {
		font-size: 14px !important;
	}

	.card-content {
		padding-right: 10px !important;
		padding-left: 10px !important;
	}

	.author,
	.time-left {
		font-size: 12px;
	}

	.time-left {
		display: block !important;
		margin-right: 10px !important;
	}
}
